fontHeaderLogin {
	font-family: estrangelo edessa;
	font-size: 300%;
	position: absolute;
	top: 30%;
	left: 30%;
}

fontNormal{
	font-family: estrangelo edessa;
}

form.loginForm{
	position: absolute;
	top: 35%;
	left: 30%;
}

p.error{
	color: red;
}

#content{
	position: relative;
    width: 1280px;
    height: 654px;
}

#contentImg{
	width: 100%;
	height: 100%;

}

#guideSearchImg{
	position: absolute;
	bottom: 100px;
	right: 100px;
	width:41px;
	height: 38px;

}